// COLORS
$primary-color: #1D2B64;
$secondary-color: #F8CDDA;

$white-color: #f4ebeb;

$dark-grey: #333333;
$light-grey: #d6e5a4;

$dark-blue-text: #01010d; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
